@import "./Main.module.scss";

.mainBlock{
    width:90vw;
    min-height:30vw;
    margin-left:auto;
    margin-right:auto;
    background-color: $shopListBackground;
    display:flex;
    flex-direction: column;
    align-items: center;

    .steps{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:35vw;
        margin-left:auto;
        margin-right:auto;
        margin-top:1vw;
        
        .step{
            background-color: $prettyRedColor;
            border-radius:50%;
            display:flex;
            align-items: center;
            justify-content: center;
            width:3vw;
            height:3vw;
            cursor:pointer;

            p{
                color:$paragraphColor;
                font-family: $mainFont;
            }
        }
        .lineStep{
            color:$paragraphColor;
            font-family: $mainFont;
        }
    }
    .item{
        width:90vw;
        height:5vw;
        display:flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-family: $mainFont;
            color:$paragraphColor;
        }
        .name{
            display:flex;
            align-items: center;
            width:23vw;
        }
        .info{
            display:flex;
            align-items: center;

            p:nth-child(2){
                margin-left:1vw;
            }

            .multiplier{
                display:flex;
                width:7vw;
                justify-content: space-between;
            }
        }
        .specialPromotion{
            background-color: red;
            width:30vw;
            margin-left:3vw;
        }
        .priceBlock{
            margin-right:2vw;
            display:flex;
            width:7vw;
            justify-content: center;
            align-items: center;

            :nth-child(1){
                color:$prettyRedColor;
                font-size:25px;
                cursor:pointer;
                margin-right:1vw;
            }
            :nth-child(1):hover{
                animation:shake 0.5s forwards
            }
        }
        img{
            margin-left:2vw;
            width:5vw;
            height:4vw;
        }
    }

    .line{
        width:90vw;
        height:1px;
        background-color: grey;
    }
    .btnBlock{
        width:20vw;
        display:flex;
        align-items: center;
        justify-content: space-between;

        :nth-child(1){
            @include button($buttonTransparent,	$prettyRedColor, $prettyRedColor, 8vw, 2vw, 1);
            margin-top:3vw;
            margin-bottom:1vw;
        }
        :nth-child(2){
            @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 8vw, 2vw, 1);
            margin-top:3vw;
            margin-bottom:1vw;
        }
    }
}

@keyframes shake{
    0%{transform:rotate(0deg)}
    25%{transform:rotate(5deg)}
    50%{transform:rotate(0deg)}
    75%{transform:rotate(-5deg)}
    100%{transform:rotate(0deg)}
}