@import "./Main.module.scss";

.mainBlock{
    width:100%;
    height:auto;
    background-color: $bodyColor;

    h1{
        text-align: center;
        color:$paragraphColor;
    }
}
@media only screen and (max-width:600px){
    .mainBlock{
        h1{
            text-align: center;
            color:$paragraphColor;
            font-size:25px;
        }
    }
}