@import "./Main.module.scss";

.mainBlock{
    width:80vw;
    padding:1vw;
    margin-top:2vw;
    margin-left:auto;
    margin-right:auto;
    background-color: $shopListBackground;

    .itemList{
        display:flex;
        flex-wrap:wrap;
    }
    
}