@import "./Main.module.scss";

.mainBlock{
    width:100%;
    min-height:100vh;
    background-color: $bodyColor;

    h1{
        text-align: center;
        color:$paragraphColor;
    }

    .promotionBlock{
        width:80vw;
        height:auto;
        background-color: $shopListBackground;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        align-items: center;
        justify-content: space-between;

        .promotion{
            background-color: black;
            width:20vw;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding-bottom:2vw;
            img{
                width:20vw;
                height:15vw;
            }
            p{
                color:$paragraphColor;
                font-family: $mainFont;
                margin-top:1vw;
                margin-bottom:1vw;
                font-size:20px;
            }
            button{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 8vw, 2.5vw, 1)
            }
            button:hover{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 8vw, 2.5vw, 1.1)
            }
        }
    }
    .btnBlock{
        display:flex;
        align-items: center;
        justify-content: center;
        width:80vw;
        padding-top:2vw;
        margin-left:auto;
        margin-right:auto;
        padding-bottom:2vw;
        background-color: $shopListBackground;
        button{
            @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 8vw, 2.5vw, 1);
            margin-left:auto;
            margin-right:auto;
            
        }
        button:hover{
            @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 8vw, 2.5vw, 1.1)
        }
    }
}

@media only screen and (max-width:1300px){
    .mainBlock{
        .promotionBlock{
            .promotion{
                width:25vw;
                img{
                    width:25vw;
                    height:20vw;
                }
                button{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 12vw, 4vw, 1)
                }
                button:hover{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 12vw, 4vw, 1.1)
                }
            }
        }
        .btnBlock{
            button{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 12vw, 4vw, 1);
            }
            button:hover{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 12vw, 4vw, 1.1)
            }
        }
    }
}
@media only screen and (max-width:900px){
    .mainBlock{
        .promotionBlock{
            width:90vw;
            flex-wrap:wrap;
            .promotion{
                width:29vw;
                img{
                    width:29vw;
                    height:23vw;
                }
                button{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 15vw, 5vw, 1)
                }
                button:hover{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 15vw, 5vw, 1.1)
                }
            }
        }
        .btnBlock{
            width:90vw;
            button{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 15vw, 5vw, 1);
            }
            button:hover{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 15vw, 5vw, 1.1)
            }
        }
    }
}
@media only screen and (max-width:800px){
    .mainBlock{
        .promotionBlock{
            .promotion{
                width:44vw;
                img{
                    width:44vw;
                    height:35vw;
                }
                button{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 20vw, 6vw, 1)
                }
                button:hover{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 20vw, 6vw, 1.1)
                }
            }
        }
        .btnBlock{
            width:90vw;
            button{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 20vw, 6vw, 1);
            }
            button:hover{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 20vw, 6vw, 1.1)
            }
        }
    }
}
@media only screen and (max-width:600px){
    .mainBlock{
        .promotionBlock{
            .promotion{
                width:44vw;
                p{
                    font-size:15px;
                    margin-top:2vw;
                    margin-bottom:2vw;
                }
                img{
                    width:44vw;
                    height:35vw;
                }
                button{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 25vw, 8vw, 1)
                }
                button:hover{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 25vw, 8vw, 1.1)
                }
            }
        }
        .btnBlock{
            button{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 25vw, 8vw, 1);
            }
            button:hover{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 25vw, 8vw, 1.1)
            }
        }
    }
}
@media only screen and (max-width:500px){
    .mainBlock{
        .promotionBlock{
            .promotion{
                width:90vw;
                img{
                    width:90vw;
                    height:60vw;
                }
                button{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 30vw, 8vw, 1)
                }
                button:hover{
                    @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 30vw, 8vw, 1.1)
                }
            }
        }
        .btnBlock{
            button{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 30vw, 8vw, 1);
            }
            button:hover{
                @include button($buttonTransparent,	$prettyGreenColor, $prettyGreenColor, 30vw, 8vw, 1.1)
            }
        }
    }
}