@import "./Main.module.scss";

.mainBlock{ 
    width:100vw;

    .formBlock {
        width:100vw;
        display:flex;
        align-items: center;
        justify-content: center;

        form{
            margin-top:2vw;
            width:20vw;
            padding-bottom:2vw;
            height:auto;
            background-color: black;
            color:$paragraphColor;
            font-family: $mainFont;
            animation:fadeIn 1s forwards;
            display:flex;
            flex-direction: column;
            justify-content: center;
            
            button{
                @include button($buttonTransparent,$prettyGreenColor, $prettyGreenColor, 8vw, 2vw, 1);
                margin-top:1vw;
                margin-left:auto;
                margin-right:auto;
            }
        }
        .login{
            width:20vw;
            height:auto;
            background-color: black;
            color:$paragraphColor;
            font-family: $mainFont;
            animation:fadeIn 1s forwards;
        }
    }
    
    .title{
        font-size:25px;
        padding:1vw;
        text-align: center;
    }
    .inputBlock{
        display:flex;
        padding-top:0.5vw;
        padding-bottom:0.5vw;
        flex-direction: column;

        label{
            margin-left:1vw;
            padding-bottom:0.5vw;
        }
        input{
            margin-left:1vw;
            margin-right:1vw;
            height:30px;
            font-family: $mainFont;
        }
    }
    
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
}
